version: "3.9"

services:
  devsecops:
    image: ghcr.io/reuter00/devsecopstraining:latest
    deploy:
      restart_policy:
        condition: any
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
        mode: ingress
    environment:
      - NODE_ENV=production
